
<div class="container" id="show-room">

  <svg id="svg-main" width="100%" height="100%" viewBox="0 0 1900 1080">
    <image xlink:href="<%= asset_url 'insa_logo.png' %>" x="0" y="0" height="764" width="1900"/>
    <defs>
      <clipPath id="clip-1">
        <rect x="53" y="40" width="180" height="300"/>
      </clipPath>
      <clipPath id="clip-2">
        <rect x="603" y="425" width="166" height="300"/>
      </clipPath>
      <clipPath id="clip-3">
        <circle cx="1020" cy="370" r="80"/>
      </clipPath>
      <clipPath id="clip-4">
        <polygon points="1427,40 1565,40 1513,341 1355,341"/>
      </clipPath>
      <clipPath id="clip-5">
        <polygon points="1700,40 1822,40 1822,250 1750,250"/>
      </clipPath>
    </defs>

    <image xlink:href="" x="-8" y="40" height="300" width="300" clip-path="url(#clip-1)" id="image-1"/>
    <image xlink:href="" x="536" y="425" height="300" width="300" clip-path="url(#clip-2)" id="image-2"/>
    <image xlink:href="" x="940" y="290" height="160" width="160" clip-path="url(#clip-3)" id="image-3"/>
    <image xlink:href="" x="1310" y="40" height="300" width="300" clip-path="url(#clip-4)" id="image-4"/>
    <image xlink:href="" x="1656" y="40" height="209" width="209" clip-path="url(#clip-5)" id="image-5"/>
  </svg>

  <!-- Modal -->
  <div class="modal fade" id="show-room-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title name"></h4>
        </div>
        <div class="modal-body">
          <iframe width="420" height="315" class="hide video" frameborder="0" allowfullscreen></iframe>
          <div class="margin text">Loading ...</div>
        </div>
      </div>
    </div>
  </div>

</div>
