/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require_tree .
 *= require_self
 *= require select2-bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";

footer{
  margin-bottom:30px;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  color:white;
  background-color:white;
  background-image:url(../images/bg.jpg);
  background-size: cover;
}

#brand{
  margin-left:5px;
  color: white;
}

#linkedin-login-button{
  margin-bottom: 15px;
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}