<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top= "197">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="<%= asset_url 'insa.jpg' %>" class="img pull-left" alt="INSA" width="50" height="50">
      <div class="navbar-brand" id="brand">
        ShareYourINSA
      </div>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <%- if current_user.nil?  %>
          <li><a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% else %>
            <li><%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Logout<% end %></li>
        <% end -%>
      </ul>
    </div>
  </div>
</nav>