<div class="col-sm-8">
  <h4><small>RECENT POSTS</small></h4>
  <hr>
  <% @posts.each do |post| %>
      <h2><%= @posts.title %></h2>
      <h5><span class="glyphicon glyphicon-time"></span> <%= @profile_user.post.created_at %></h5>
      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
      <%= post.content %>
  <% end %>
  <hr />

  <h4>Add a post</h4>
  <%= form_tag({action: :new_post}) do -%>
      <div class="form-group">
        <textarea class="form-control" rows="3" name="post[content]" required></textarea>
        <button type="submit" class="btn btn-success btn-block">Post</button>
      </div>

  <% end -%>

  <!--
  <form role="form">

    <button type="submit" class="btn btn-success">Post</button>
  </form>
  -->
</div>