<h1>My profile</h1>
<div class="container-fluid">
  <div class="row content">
    <%= render 'left_panel'%>
    <%= render 'right_panel' %>
  </div>
</div>

<p><%= link_to 'Edit', edit_profile_path %></p>
